<footer>
    <div class="footer-box">
        <p><span class="date"></span>&copy; <span>Parcour.</span> Powered and secured by Kapture Design Studio </p>
    </div>
</footer>


<!-- ###### end Section 2 #####  -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/data.js"></script>
<script src="/js/main.js"></script>
<script src="/js/register.js"></script>

</body>

</html>