<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/variable.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/gallery.css">

    <title>
        home

    </title>
</head>

<body>






    <!-- header  -->
    <header>
        <nav>
            <div class="logoname"> <a href="/"> PARCOURS</a></div>
            <div class="toggle-menu">
                <span></span>

            </div>



        </nav>
        <div class="links-container">
            <ul class="links">
                <li class="link "><a href="/blogs">Home</a></li>
                <!-- <li class="link "><a href="/blogs/about">About</a></li> -->
                <li class="link "><a href="/gallery">Gallery</a></li>
                <li class="link "><a href="/contact">Contact</a></li>
                <!-- <li class="link "><a href="/blogs/add">Add post</a></li>
                <li class="link "><a href="/blogs/signup">Signup</a></li>
                <li class="link "><a href="/blogs/login">Login</a></li>
                <li class="link "><a href="/dashboard">dash</a></li> -->
            </ul>
        </div>

    </header>