<%- include('./partials/nav.ejs') %>
    <section class="contact">
        <div class="title-container">
            <h1>Contact Form</h1>
        </div>




        <form id="form">
            <label for="name">Name:</label>
            <input type="text" id="username" name="username" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>

            <button class="btn-contact" type="submit">Submit</button>
        </form>
    </section>

    <%- include('./partials/footer.ejs') %>