<%- include('./partials/nav.ejs') %>

    <div class="title-container">
        <h1>gallery</h1>
    </div>

    <div class="text-for-gal">
        <p>I'm a paragraph. Click here to
            add your own text and edit me.
            It’s easy. Just click “Edit Text” or double click me
            to add your own content and make changes to the font.
            I’m a great place for you to tell a story and let your users know a
            little more about you. . I'm a paragraph.
            Click here to add your own text and edit me.
            It’s easy. Just click “Edit Text” or
            double click me to add your own content
            and make changes to the font. I’m a </p>
    </div>



    <div class="gallery">
        <div class="image-container">



            <div class="img-g-1 image-container-gal gal-img"><img src="/images/billie-k2vn6he4lDQ-unsplash.jpg" alt="">
            </div>



            <div class="img-g-2  image-container-gal gal-img"><img src="/images/clement-m-F_-0BxGuVvo-unsplash(1).jpg"
                    alt="">
            </div>




            <div class="img-g-3 image-container-gal gal-img"><img src="/images/lawless-capture-bL5mIaa_-pI-unsplash.jpg"
                    alt="">
            </div>



            <div class="img-g-4 image-container-gal gal-img"><img src="/images/danie-franco-f49XhYbpiA0-unsplash.jpg"
                    alt="">

            </div>


            <div class="img-g-5 image-container-gal gal-img"><img src="/images/pexels-jigar-maru-3020083.jpg" alt="">
            </div>



            <div class="img-g-6 image-container-gal gal-img"><img src="/images/pexels-godisable-jacob-794064.jpg"
                    alt="">
            </div>


        </div>
        </section>

    </div>

    <%- include('./partials/footer.ejs') %>